<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="products.css" />
    <!-- link to css file -->
    <title>Document</title>
  </head>
  <body>
    <!-- navigation bar -->
     <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Product</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
     </nav>

    <!-- product table -->
    <main>
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Image</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Rich Dad & Poor Dad</td>
          <td>A book by Robert </td>
          <td>₹100</td>
          <td><img src="https://dummyimage.com/200/ffffff/0c0d21&text=Sample+Image" alt="Dummy"></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Rich Dad & Poor Dad</td>
          <td>A book by Robert </td>
          <td>₹100</td>
          <td><img src="https://dummyimage.com/200/ffffff/0c0d21&text=Sample+Image" alt="Dummy"></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Rich Dad & Poor Dad</td>
          <td>A book by Robert </td>
          <td>₹100</td>
          <td><img src="https://dummyimage.com/200/ffffff/0c0d21&text=Sample+Image" alt="Dummy"></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Rich Dad & Poor Dad</td>
          <td>A book by Robert </td>
          <td>₹100</td>
          <td><img src="https://dummyimage.com/200/ffffff/0c0d21&text=Sample+Image" alt="Dummy"></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Rich Dad & Poor Dad</td>
          <td>A book by Robert </td>
          <td>₹100</td>
          <td><img src="https://dummyimage.com/200/ffffff/0c0d21&text=Sample+Image" alt="Dummy"></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Rich Dad & Poor Dad</td>
          <td>A book by Robert </td>
          <td>₹100</td>
          <td><img src="https://dummyimage.com/200/ffffff/0c0d21&text=Sample+Image" alt="Dummy"></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Rich Dad & Poor Dad</td>
          <td>A book by Robert </td>
          <td>₹100</td>
          <td><img src="https://dummyimage.com/200/ffffff/0c0d21&text=Sample+Image" alt="Dummy"></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Rich Dad & Poor Dad</td>
          <td>A book by Robert </td>
          <td>₹100</td>
          <td><img src="https://dummyimage.com/200/ffffff/0c0d21&text=Sample+Image" alt="Dummy"></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Rich Dad & Poor Dad</td>
          <td>A book by Robert </td>
          <td>₹100</td>
          <td><img src="https://dummyimage.com/200/ffffff/0c0d21&text=Sample+Image" alt="Dummy"></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Rich Dad & Poor Dad</td>
          <td>A book by Robert </td>
          <td>₹100</td>
          <td><img src="https://dummyimage.com/200/ffffff/0c0d21&text=Sample+Image" alt="Dummy"></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Rich Dad & Poor Dad</td>
          <td>A book by Robert </td>
          <td>₹100</td>
          <td><img src="https://dummyimage.com/200/ffffff/0c0d21&text=Sample+Image" alt="Dummy"></td>
        </tr>
      </table>
    </main>
  </body>
</html>
