/* product.css */
:root{
    --tableBlack:#1f1d1d;
}

body{
    background-color: rgba(248, 248, 248, 0.877);
}
/* 
.product-list{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh-60px);
    padding-top: 10px;
} */

table{
    border-color: var(--tableBlack);
    border-collapse: collapse;
    margin: auto;
    text-align: center;
    width: 80%;
    color: rgb(255, 255, 255);
    background-color: #000000;
}
th,td{
    border-color: var(--tableBlack);
    padding: 10px;
}

img {
    max-width: 300px;
    height: auto;
}